body {
  font-family: $font_family;
  font-weight: $font_weight;
  font-size: $font_size_mobile;
  color: $font_color;
  background-color: $body_bg_color;
  line-height: 1.5;
  @media (min-width: 768px) {
    font-size: $font_size;
  }
}
.container {
  @media (min-width: 1500px) {
    max-width: $container-xxl + $grid-gutter-width;
  }
  @media (min-width: 1920px) {
    max-width: $container-xxxl + $grid-gutter-width;
  }
  &.container_header {
    @media (min-width: 1200px) {
      max-width: 100%;
    }
  }
  &.container_profile {
    @media (min-width: 1920px) {
      max-width: 1440px;
    }
  }
  &.container_index {
    @media (min-width: 1920px) {
      max-width: 1535px;
    }
  }
  &.container_slider {
    padding-right: 0;
    padding-left: 0;
    @media (min-width: 576px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  &.container_index-content {
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
  }
}
.content {
  @media (min-width: 992px) {
    padding: 50px 0 0;
  }
  @media (min-width: 1200px) {
    padding: 74px 48px 20px;
  }
  @media (min-width: 1920px) {
    padding: 74px 148px 20px;
  }
}
h1 {
  font-family: $font_family2;
  font-size: 34px;
  line-height: 45px;
  color: $body_bg_color;
  margin-bottom: 0;
  &.text-white {
    color: #fff;
  }
  @media (min-width: 768px) {
    & {
      font-size: 70px;
      line-height: 100px;
    }
  }
}
h2 {
  font-family: $font_family2;
  font-size: 25px;
  line-height: 49px;
  color: $font_color;
  text-align: center;
  margin-bottom: 45px;
  @media (min-width: 768px) {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 80px;
  }
}
.text-lg-uppercase {
  text-transform: none;
  @media (min-width: 768px) {
    text-transform: uppercase;
  }
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 35px;
  @media (min-width: 768px) {
    & {
      font-size: 22px;
      margin-top: 95px;
    }
  }
}
p {
  line-height: 32px;
  margin-bottom: 1.5rem;
  @media (min-width: 768px) {
    line-height: 39px;
  }
}
a {
  color: $link_color;
  text-decoration: none;
  &:hover {
    color: $link_hover_color;
    text-decoration: none;
  }
}
.link1 {
  font-family: $link_txt_family;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 20px;
  @media (min-width: 768px) {
    & {
      font-size: 23px;
      line-height: 31px;
    }
  }
  .link1__icon {
    display: inline-block;
    padding-left: 15px;
    @media (min-width: 768px) {
      & {
        padding-left: 20px;
      }
    }
  }
}
.link2 {
  font-family: $link_txt_family;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 20px;
  color: $link2_color;
  &:hover {
    color: $link2_hover_color;
  }
  @media (min-width: 768px) {
    & {
      font-size: 23px;
      line-height: 31px;
    }
  }
}
.link3 {
  font-family: $link_txt_family;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  line-height: 19px;
  color: $link3_color;
  &:hover {
    color: $link3_hover_color;
  }
  @media (min-width: 768px) {
    & {
      font-size: 19px;
      line-height: 26px;
    }
  }
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $body_bg_color;
  z-index: 999;
  transition: 0.5s all;
  opacity: 1;
  visibility: visible;
}
.preloader .loader {
  width: 50px;
  height: 50px;
  background-image: url('../img/icons/loader.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 1s spin infinite linear;
}
.preloader.done {
  opacity: 0;
  visibility: hidden;
}
@keyframes spin {
  from {
    width: 50px;
    height: 50px;
  }
  to {
    width: 75px;
    height: 75px;
  }
}
.sticky-footer {
  position: relative;
  min-height: 100%;
  body {
    margin-bottom: $body_mb_mob + $footer_height_mob;
    .main {
      //padding-top: 60px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $footer_height_mob;
    }
    @media (min-width: 992px) {
      margin-bottom: $body_mb + $footer_height;
      .footer {
        height: $footer_height;
      }
    }
  }
}

.secondscreen {
  background-color: $body_bg_color;
  padding-top: 110px;
}

.index-content {
  font-size: 16px;
  background-color: #fff;
  padding-bottom: 10px;
  @media (min-width: 768px) {
    font-size: $font_size;
  }
}

.index-content__title {
  position: relative;
  top: -60px;
}

.collage {
  overflow: hidden;
}

.collage__img_xs {
  display: block;
  width: 133%;
  position: relative;
  left: -19%;
  @media (min-width: 768px) {
    & {
      position: static;
      width: 71%;
      margin: 0 auto;
    }
  }
  @media (min-width: 992px) {
    & {
      display: none;
    }
  }
}

.collage__img_lg {
  display: none;
  @media (min-width: 992px) {
    & {
      display: block;
      width: 60%;
      position: relative;
      right: -40px;
    }
  }
}