$container-xxl:             1260px;
$container-xxxl:            1374px;
$body_bg_color:             #ffffff;
$logo_main_color:           #F2CFCF;
$btn_bg_color:              #F2CFCF;
$btn_hover_bg_color:        #EAB1B1;
$bg_dark_1:                 #191919;
$bg_light_1:                #F2CFCF;
$font_color:                #4F4F4F;
$font_family:               "GTWalsheimPro", sans-serif;
$font_weight:               300;
$font_size:                 20px;
$font_size_mobile:          15px;
$body_mb:                   190px;
$body_mb_mob:               50px;
$font_family2:              "Baigo", sans-serif;;
$link_txt_family:           $font_family;
$link_color:                #828282;
$link_hover_color:          #555555;
$link2_color:               #F2CFCF;
$link2_hover_color:         #EAB1B1;
$link3_color:               #fff;
$link3_hover_color:         #DCCACA;
$footer_height:             210px;
$footer_height_mob:         285px;
$footer_text_color:         #907D7D;
$footer_text_color_hover:   #C7ABAB;

//Form
$input_bg:                  #EEEEEE;
$input_hover_bg:            $input_bg;
$input_txt_family:          $font_family;
$input_txt_color:           #737373;
$input_hover_txt_color:     $input_txt_color;
$input_placeholder_color:   $input_txt_color;
$input_border:              none;
$input_hover_border:        none;
$input_border_radius:       0;
$textarea_border_radius:    0;

//Custom Checkbox
$checkbox_xs_padding_left:      48px;
$checkbox_xs_width:             27px;
$checkbox_xs_height:            27px;
$checkbox_xs_left:              -47px;
$checkbox_xs_top:               -3px;

$checkbox_padding_left:         60px;
$checkbox_width:                34px;
$checkbox_height:               34px;
$checkbox_left:                 -59px;
$checkbox_top:                  -6px;

$checkbox_txt_family:           $font_family2;
$checkbox_txt_xs_size:          13px;
$checkbox_txt_size:             17px;
$checkbox_txt_xs_lh:            1.2;
$checkbox_txt_lh:               1.2;
$checkbox_bg_color:             #fff;
$checkbox_checked_bg_color:     $checkbox_bg_color;
$checkbox_border:               2px solid #EEEEEE;
$checkbox_checked_border_color: #F2CFCF;
$checkbox_active_bg_color:      #F2CFCF;
$checkbox_bg_icon:              "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23FF6699' d='M23.5,54.9c0,0-0.1,0-0.1,0c-1.4,0-2.8-0.6-3.7-1.7l-18.3-20c-1.9-2.1-1.8-5.4,0.3-7.4 c2.1-2,5.4-1.8,7.4,0.3l14.6,16l31.4-31.4c2-2,5.3-2,7.4,0c2,2,2,5.3,0,7.4L27.2,53.4C26.2,54.3,24.9,54.9,23.5,54.9z'/%3E%3C/g%3E%3C/svg%3E%0A";

//Custom RadioButton
$radio_xs_padding_left:      48px;
$radio_xs_width:             27px;
$radio_xs_height:            27px;
$radio_xs_left:              -47px;
$radio_xs_top:               -6px;

$radio_padding_left:         60px;
$radio_width:                34px;
$radio_height:               34px;
$radio_left:                 -59px;
$radio_top:                  -6px;

$radio_txt_family:           $font_family2;
$radio_txt_xs_size:          13px;
$radio_txt_size:             17px;
$radio_txt_xs_lh:            1.2;
$radio_txt_lh:               1.2;
$radio_bg_color:             #fff;
$radio_checked_bg_color:     $radio_bg_color;
$radio_border:               2px solid #EEEEEE;
$radio_hover_border:         2px solid #F2CFCF;
$radio_checked_border_color: $radio_bg_color;
$radio_active_bg_color:      #F2CFCF;
$radio_bg_icon:              "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='4' fill='%23F2CFCF'/%3E%3C/svg%3E";

//Custom Switch
$switch_dot_size: 22px;
$switch_dot_size_mob: 19px;
$switch_dot_color: #D4D4D4;
$switch_dot_color_active: #F2CFCF;
$switch_border: $switch_dot_color solid 1px;
$switch_border_active: $switch_dot_color_active solid 1px;

//Bootstrap container width
@function get-container-width($key: 'md') {
  @return map-get($container-max-widths, $key);
}

//User List page wider
$user_list_wider:           130px;
$user_list_mini_wider:      50px;
$user_list_item_breakpoint: 992px;
$user_list_title_color:     #191919;